body{
    margin: 0px;
}
#header{
    display: flex;
    height:9vh;
    width:100%;
    justify-content: space-between;
    border-bottom: solid 2px;
    position: fixed;
    background-color: yellow;
}
#header-img{
    width: 5%;
    justify-self: flex-start;
}
#nav-bar{
    display:flex;
    align-items: center;
    position: sticky;
}
#nav-link{
    border: solid 3px;
    background-color: red;
    text-decoration: none;
    font-size: 30px;
    height:5%
}
#form{
    margin:auto;
    display: flex;
    width: 20%;
    justify-content: center;
    flex-direction: column;
}
#submit{
    margin: auto;
    width: 60%;
    background-color:yellow;
    border: none;
}
#info{
    text-align: center;
    font-size: 48px;
}
#content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.para{
    width: 50%;
    display: flex;
}
.side{
    width:20%;
}
footer{
    width: 100%;
    height: 20vh;
    background-color: yellow;
}

@media screen {}